nav {
    width: 100%;
    background: #373738;
}

.logo {
    width: 80px;
    padding: 1%;
    vertical-align: middle;
}

.inline-block {
    display: inline-block;
    vertical-align: middle;
}

li {
    display: inline;
    padding: 8px;
    background-color: #dddddd;
}

.me {
    width: 100px;
}

.content {
    width: 500px;
    margin-right: auto;
    padding: 25px;
}

p {
margin: 1%;
}

button {
    margin: 1%;
}

footer {
    width: 100%;
    display: inline-block;
    background: #373738;
    height: 80px;
}
